        /* Navbar styles */
        .navbar {
            width: 100vw;
            position: absolute;
            top: 0;
        }

        .navbar ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .navbar li {
            list-style-type: none;
        }

        .navbar a {
            text-decoration: none;
            color: black;
        }